= link_to "Back to search", root_path

.search-results
	%h2= "Search results: #{@yelp.business_name}"

	%p= @yelp.business_name
	- @yelp.business_address.each do |address_component|
		%p= address_component

	.google
		= render partial: 'search_results', locals: { query: @google, name: "Google" }
	.yelp
		= render partial: 'search_results', locals: { query: @yelp, name: "Yelp" }