= link_to "Back to search", root_path

.search-results
	%h2
		= "Search results: #{@yelp.business_name}"

	%table
		%thead
			%th Rating
			%th Reviews
		%tbody
			%tr
				%td Rating
				%td= @yelp.rating
			%tr
				%td Reviews
				%td= @yelp.review_count
			%tr
				%td 1-star ratings til drop
				%td= @yelp.one_star_ratings_until_dropping_half_star
			%tr
				%td 6-star ratings til 5.5
				%td= @yelp.five_star_ratings_until_five_stars

	%h3 Effects of 5-star ratings:
	

	%h3 Effects of 1-star ratings:
	

	%h3 Rank among nearby businesses (10 mile radius):
	%table
		%thead
			%th No.
			%th Business Name
			%th Rating
			%th Reviews
		%tbody
			- @yelp.nearby.each_with_index do |business, idx|
				%tr
					%td= idx + 1
					%td= business["name"]
					%td= business["rating"]
					%td= business["review_count"]